<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Comentarios</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
            <a class="navbar-brand" href="{% url 'List' %}">Aromaterapia</a>    
            <a class="navbar-brand" href="{% url 'comment_list' %}">Foro</a>
            <a class="navbar-brand" href="{% url 'About' %}">About me</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if not request.user.is_authenticated  %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'Login' %}">Iniciar Sesión</a></li>
                    {% endif %}
                    {% if not request.user.is_authenticated  %}    
                        <li class="nav-item"><a class="nav-link" href="{% url 'Register' %}">Registrarse</a></li>
                    {% endif %}    

                    
                    {% if request.user.is_authenticated  %}
                        <p class="text-muted big mb-f ml-lg0">{{user.username}}      </p>
                    {% if url %}
                        
                        <img class="img-fluid rounded-circle" src="{{ url }}" alt="Avatar del usuario" style="width: 30px; height: 30px; object-fit: cover;">
                        
                    {% endif %}
                    
                    {% if request.user.is_authenticated  %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'Logout' %}">Cerrar Sesión</a></li>
                        
                        <li class="nav-item"><a class="nav-link" href="{% url 'EditarPerfil' %}">Perfil</a></li>
                    {% endif %}
                {% endif %}
                
            </div>
        </div>
    </nav>

</body>
<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle" src="{% static 'media/foro2.jpg' %}" alt="Avtar" style="width: 250px; height: 250px; object-fit: cover;">
        <h1 class="text-white fs-3 fw-bolder">Charla abierta</h1>
        <p class="text-white-50 mb-0">Inicia sesión para participar!</p>
    </div>
</header>

<!-- Content section -->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                
                <h2>Bienvenidos a este rincón aromático del bienestar.</h2>
                <p class="mb-0">Mi nombre es  Rocío y me considero una vocera apasionada por los productos de aromaterapia. A través de este blog, quiero compartir contigo el maravilloso mundo de los aromas naturales y sus beneficios para nuestro cuerpo y mente.</p >
                <br>
                <p class="mb-0">Desde el momento en que descubrí la aromaterapia, quedé fascinada por la forma en que los aromas pueden transformar nuestro estado de ánimo y elevar nuestra energía. Cada fragancia tiene su propia historia y propiedades únicas que nos invitan a un viaje de relajación y equilibrio.</p>
                <br>
                <p class="mb-0">Además, compartiré contigo mis experiencias personales y recomendaciones sobre productos que he probado y que considero que pueden marcar la diferencia en tu bienestar general. </p >
                <p class="mb-0">Mi objetivo es crear una comunidad aromática donde podamos aprender, inspirarnos y conectar a través de nuestras experiencias con los productos naturales. Estoy emocionada de acompañarte en este viaje y espero que encuentres en este blog un espacio para nutrir tu mente, cuerpo y alma.</p>    
                <br>
                <p class="mb-0">Gracias por ser parte de esta comunidad aromática. ¡Juntos hagamos que cada día sea una experiencia aromática maravillosa!</p>
            </div>
        </div>
    </div>
</section>

<!-- Listado de comentarios -->
<div class="container">
    <h2 class="mt-5 mb-3">Comentarios</h2>

    <ul class="list-group">
        {% for comment in comments %}
            <li class="list-group-item">
                <p class="mb-1">{{ comment.author }} - {{ comment.date }}</p>
                <p class="mb-1">{{ comment.body }}</p>
                <a href="{% url 'comment_detail' comment.pk %}" class="btn btn-primary btn-sm">Ver Detalles</a>
                <a href="{% url 'comment_edit' comment.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'comment_delete' comment.pk %}" class="btn btn-danger btn-sm">Borrar</a>
            </li>
        {% empty %}
            <li class="list-group-item">No hay comentarios.</li>
        {% endfor %}
    </ul>

    <!-- Botón para agregar un nuevo comentario -->
    <a href="{% url 'comment_add' %}" class="btn btn-success mt-4">Agregar un nuevo comentario</a>
</div>

<!-- Image element - set the background image for the header in the line below -->
<div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes! -->
    <div style="height: 20rem"></div>
</div>

<!-- Content section -->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Engaging Background Images</h2>
                <p class="lead">The background images used in this template are sourced from Unsplash and are open source and free to use.</p>
                <p class="mb-0">I can't tell you how many people say they were turned off from science because of a science teacher that completely sucked out all the inspiration and enthusiasm they had for the course.</p>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
    </div>
</footer>

<!-- Bootstrap core JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>